.filter-sort {
  margin: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.filter-sort button, .filter-sort select {
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #0077ff;
  cursor: pointer;
}
.filter-sort button:hover {
  background-color: #0077ff;
  color: #fff;
}
